################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ALDS_Study/ALDS_1_1_D/Debug
/ALDS_Study/ALDS_1_1_D/ALDS_1_1_D.vcxproj.user
/ALDS_Study/Debug
/ALDS_Study/.vs/ALDS_Study/v16
/.vs
