################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/ALDS_Study/ALDS_1_1_D/Debug
/ALDS_Study/ALDS_1_1_D/ALDS_1_1_D.vcxproj.user
/ALDS_Study/Debug
/ALDS_Study/.vs/ALDS_Study/v16
/.vs
/ALDS_Study/ITP_1_11_A
/ALDS_Study/ALDS_1_1_A/Debug
/ALDS_Study/ALDS_1_1_A/ALDS_1_1_A.vcxproj.user
/ALDS_Study/ALDS_1_1_A/ALDS_1_1_A.vcxproj.filters
/ALDS_Study/ALDS_1_1_A/ALDS_1_1_A.vcxproj
/ALDS_Study/ITP1_11_
